@import 'styles/settings/animations';
@import 'styles/tools/functions';
@import 'styles/tools/mixins';

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    .deleteButton {
      opacity: 1;
    }
  }
}

.deleteButton {
  color: color(danger);
  font-size: relativeSpacing(1.5);
  transition: opacity $transition-duration_fast;

  @include media(sm) {
    opacity: 0;
    transition: opacity $transition-duration_fast;

    svg {
      font-size: inherit;
    }
  }
}
