@import 'styles/tools/functions';
@import 'styles/tools/mixins';
@import 'styles/settings/animations';

.card {
  background: color(light);
  display: flex;
  flex-direction: column;

  transition: opacity $transition-duration_default, transform $transition-duration_default;
  &.hidden {
    opacity: 0;
    transform: scale(0.75);
  }

  &-header {
    background: color(#{'lightgray'});
    display: flex;
    flex-direction: column;
    padding: relativeSpacing(0.8);
    transition: padding $transition-duration_fast;

    @include media(sm) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include media(lg) {
      padding: relativeSpacing(1.6);
    }

    &-title {
      font-size: relativeSpacing(1.2);
      color: color(dark);
      font-weight: bold;
    }

    &-subtitle {
      font-size: relativeSpacing(0.8);
      color: color(text-gray);
    }
  }

  &-content {
    flex: 1 1 auto;
    padding: relativeSpacing(1);
    transition: padding $transition-duration_fast;
    display: flex;
    flex-direction: column;

    @include media(lg) {
      padding: relativeSpacing(1.6);
    }
  }
}
