@import 'styles/tools/functions';
@import 'styles/tools/mixins';
@import 'styles/settings/animations';

.todoListActions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: color(text-light);

  > div {
    opacity: 0.7;
    transition: opacity $transition-duration_default;

    &:not(.disabled) {
      cursor: pointer;

      @include hover {
        opacity: 1;
      }
    }
  }
}
