@import 'styles/tools/functions';
@import 'styles/tools/mixins';
@import 'styles/settings/animations';

.appTitle {
  color: color(primary-darken-25);
  opacity: 0.7;
  margin: spacing(0, 0, 2, 0);
  text-align: center;
  transition: margin $transition-duration_default;

  @include media(lg) {
    font-size: spacing(5);
    margin: spacing(0, 0, 5, 0);
  }
}
