@import 'styles/tools/mixins';
@import 'styles/tools/functions';

.layout {
  background-color: color(primary);
  min-height: 100vh;
  padding: spacing(1);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing(1);

  @include media(lg) {
    grid-template-columns: spacing(20) 1fr;
  }
}
