@import 'styles/tools/mixins';
@import 'styles/tools/functions';
@import 'styles/settings/animations';

.layout {
  background-color: color(primary);
  min-height: 100vh;
  padding: spacing(0.5);

  @include media(sm) {
    padding: spacing(1);
  }

  &-title {
    color: color(primary-darken-25);
    opacity: 0.7;
    margin: 0;
    text-align: center;
    font-size: spacing(2.5);
    line-height: 2;
    transition: margin $transition-duration_fast, font-size $transition-duration_fast, line-height $transition-duration_fast;

    @include media(sm) {
      font-size: spacing(4);
      line-height: 1.5;
    }

    @include media(lg) {
      font-size: spacing(5);
      line-height: 1.2;
      margin: spacing(0, 0, 5, 0);
    }
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: spacing(1);
    min-height: 25vh;

    @include media(lg) {
      grid-template-columns: spacing(20) 1fr;
    }
  }
}
