li {
  $self: &;
  position: relative;
  display: flex;
  padding-left: relativeSpacing(1.5);
  padding-top: relativeSpacing(0.5);
  padding-bottom: relativeSpacing(0.5);
  height: relativeSpacing(2.741);

  &:first-child {
    margin-top: relativeSpacing(0.5);
  }

  &:last-child {
    margin-bottom: relativeSpacing(0.5);
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: relativeSpacing(0.75);
    height: relativeSpacing(0.75);
    border: relativeSpacing(0.125) solid color(secondary);
    border-radius: 100%;
    transition: background-color $transition-duration_default;
  }

  letter-spacing: relativeSpacing(0.04);
  &.active {
    font-weight: bold;
    letter-spacing: 0;

    &::before {
      background-color: color(secondary);
    }
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;

  &.interactive {
    li {
      cursor: pointer;

      &::after {
        content: '✔';
        font-size: relativeSpacing(1);
        position: absolute;
        top: 45%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity $transition-duration_default;
        pointer-events: none;
      }

      &.completed {
        &::after {
          opacity: 1;
        }
      }

      &.completed,
      &:hover {
        &::before {
          background-color: color(secondary);
        }
      }
    }
  }

  &.interactive-active {
    li {
      cursor: pointer;

      &:hover {
        font-weight: bold;
        letter-spacing: 0;
      }
    }
  }

  &.with-separators {
    li {
      padding-top: relativeSpacing(1);
      padding-bottom: relativeSpacing(1);
      height: relativeSpacing(3.75);

      & + li {
        border-top: 1px solid color(gray);
      }
    }
  }
}
